body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.movie-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.movie-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 200px;
}

.movie-item h2 {
    font-size: 18px;
    margin: 10px 0;
}

.movie-item p {
    font-size: 14px;
    color: #555;
}

.movie-item img {
    max-width: 100%;
    border-radius: 5px;
}
